@model LoginModel

<style>
    .custom-form {
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

    .custom-button {
        background-color: blue;
        color: white;
        text-align: center;
        display: block;
        width: 100%;
        transition: background-color 0.3s ease;
    }

        .custom-button:hover {
            background-color: darkblue;
        }
</style>

<div class="row">
    <div class="col-md-4 mx-auto rounded border p-3 custom-form">
        <section>
            <h2 class="text-center mb-3">Log In</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form asp-action="Index" asp-controller="Login" method="post">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg custom-button">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>
