@model RegisterModel

<style>
    .custom-form {
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

    .custom-button {
        background-color: green;
        color: white;
        text-align: center;
        display: block;
        width: 100%;
        transition: background-color 0.3s ease;
    }

        .custom-button:hover {
            background-color: darkgreen;
        }
</style>

<div class="row">
    <div class="col-lg-6 mx-auto rounded border p-3 custom-form">
        <h2 class="text-center mb-3">Register</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <form asp-action="Index" asp-controller="Register" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Confirm Password</label>
                <div class="col-sm-8">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-lg custom-button">Register</button>
        </form>
    </div>
</div>
